<div class="box">
    <h3 style="color: rgb(94, 148, 8); text-align: center;">Patient Registration</h3>
    <hr class="new">
<div class="container" method="POST">
<form #signup="ngForm" (ngSubmit)="getValues(signup.value)">
    <label>FullName:</label><br>
    <input type="text"  [(ngModel)]="pr.fullname"  name="fullname" placeholder="Enter your Fullname" >
    <br>
    <label>UserName:</label><br>
    <input type="text"  [(ngModel)]="pr.username" name="username"  placeholder="Enter your UserName">
    <br>
    <label>Email:</label><br>
    <input type="email"[(ngModel)]="pr.email"  name="email" placeholder="Enter your Email">
    <br>
    <label>Password:</label><br>
    <input type="password"  [(ngModel)]="pr.password"  name="password" placeholder="Enter your password">
    <br>
    <label>MobileNumber:</label><br>
    <input type="text" [(ngModel)]="pr.mobilenumber"  name="mobilenumber" placeholder="Enter your mobilenumber">
    <br>
    <select name="gender">
        <option  value="male">Male</option>
        <option value="female">Female</option>
    </select>
    <br>
    <label [(ngModel)]="pr.address">Address:</label><br>
    <input type="text" [(ngModel)]="pr.address" name="address" placeholder="Enter your Address">
    <br><br>
    <div class="button">
        <button type="submit" (click)="registerNow()">Register</button>
    </div>

</form>
     <br><br>
</div>
<br><br><br><br>
<div class="signin">
    <p>Already have an account? <a  routerLink="/patient" role="button">Login</a></p>
  </div>
