<div class="box">
    <h3 style="color: rgb(94, 148, 8); text-align: center;">Doctor Registration</h3>
    <hr class="new">
<div class="container" method="POST">
    <form #docSignup="ngForm" (ngSubmit)="getValues(docSignup.value)">
        <label>FullName:</label><br>
        <input type="text" [(ngModel)]="dr.fullname"   name="fullname" placeholder="Enter your Fullname" >
        <br>
        <label>UserName:</label><br>
        <input type="text" [(ngModel)]="dr.username" name="username"  placeholder="Enter your UserName">
        <br>
        <label>Email:</label><br>
        <input type="email" [(ngModel)]="dr.email"  name="email" placeholder="Enter your Email">
        <br>
        <label>Password:</label><br>
        <input type="password"  [(ngModel)]="dr.password"   name="password" placeholder="Enter your password">
        <br>
        <label>MobileNumber:</label><br>
        <input type="text" [(ngModel)]="dr.mobilenumber"  name="mobilenumber" placeholder="Enter your mobilenumber">
        <br>
        <select>
            <option  value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <label>Address:</label><br>
        <input type="text" [(ngModel)]="dr.address" name="address" placeholder="Enter your Address">
        <br><br>
        <div class="button">
            <button type="submit" (click)="drSubmit()">Register</button>
        </div>
    
    </form>
         <br><br>
</div>
<br><br><br><br>
<div class="signin">
    <p>Already have an account? <a  routerLink="/doctor" role="button">Login</a></p>
  </div>
